*{margin:0px; padding:0px;}
.box_shadow{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(124, 174, 240);
}

p{
    font-size:11px;
}

a{
    text-decoration: none;
    color:black;
}

.submit{
    background-color:white;
    width:80%; 
    height:80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user_id , .user_pw , .user_pw_repeat , .phonenumber , .user_name{
    width:350px;
    height:40px;
    border-width:1px;
    border-radius: 10px;    
}

.user_id::placeholder , .user_pw::placeholder , .user_name::placeholder ,.user_pw_repeat::placeholder , .phonenumber::placeholder{
    padding-left:10px;
}
.id , .password , .password_repeat , .phone_number , .name{
    margin-bottom:20px;
}

.user_submit{
    width:352px;
    border-radius:10px;
    height:40px;
    border:none;
    background-color:blue;
    color:white;
    margin-bottom:4px;
}

.user_login>a{font-size:12px;}
.user_login{text-align:right;}
.user_login>a:hover{
    text-decoration:underline;
    color:blue;
}